body{
    background-color: #D2D1D3 !important;
}

#div1{
    margin-top: 40px;
    text-align: center;
    color: white;
    padding: 5px;
    background-color:#0FAA9E

}
.div-com
{
    margin-left: 150px;
    margin-right: 150px;
}
#div2
{
    background-color: #0b2e13;
    color: white;
    padding:5px ;
}

#div2 a
{
    margin: 5px;
    text-decoration: none;
    font-weight: bolder;
    color: white;

}
#div3{
    background-color: #F5F5F5;
    height:max-content;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 20px;
}
#div4
{
    background-color: #0b2e13;
    color: white;
}





.br{
    border: 1px solid #0b2e13 ;
}